/.ipynb_checkpoints
/Archive.zip
/CO2_FluidSubstitution_Solution.ipynb
/ContinuousLaserData.zip
/DelayA
/LaserScans_ForMovies2.ipynb
/LaserScans_ForMovies2.ipynb.zip
/LazerNonLinear
/Old
/Old2
/UTF-8LazerNonLinear 2.zip
/__MACOSX